<h2>About the project</h2>
<p>The goal of this project is to collect a large set of data to aid my research on image similarity.</p>
<h2>About me</h2>
<p>I am currently pursuing a PhD in computer science.</p>
